.navbar{
  display: flex;
  justify-content: center;
  background-color: rgb(58, 63, 66);
  margin-bottom: 150px;
  position: sticky;
  top: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px;
  border-color: rgb(75, 75, 75);
  border-style: solid;
  transition-duration: 300ms;
}
.navbar a{
  text-decoration: none;
  letter-spacing: 10px;
  color: rgb(75, 75, 75);
  transition-duration: 300ms;
}
.navbar a:hover{
  color:chocolate;
  transition-duration: 300ms;
  font-weight: bolder;

}
.header_change{
  background: rgba(233, 233, 233, 0.905);
  transition-duration: 300ms;
}
.header_change a{
  color: rgb(49, 48, 48);
}
