* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f1f1f1;
}
header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
}
header div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

header div span {
  display: block;
  text-align: center;
}
.logo-1 {
  font-size: 50px;
  font-weight: bold;
  margin-left: -5px;
  letter-spacing: 15px;
  padding-left: 18px;
}
.logo-2 {
  font-size: 50px;
  font-weight: bold;
  margin-left: -5px;
}
.logo-3 {
  padding-left: 15px;
  letter-spacing: 20px;
}
/* ./iceMountain.png */
.parallax {
  background-image: url("https://wallpapercave.com/wp/wp9249506.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-posts-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 150px;
  background-color: #353535b8;
  border-radius: 8px;
  overflow: hidden;
  transition-duration: 600ms;
}
.blog-posts-container:hover{
  background-color: #353535;
  transition-duration: 600ms;
}
.blog-posts-container img {
  width: 100%;
  margin-bottom: 20px;
}
.blog-posts-container h2 {
  margin-bottom: 20px;
  padding: 0 20px;
}
.blog-posts-container .author {
  margin-bottom: 20px;
  padding: 0 20px;
}
.blog-posts-container .summary {
  margin-bottom: 20px;
  padding: 0 20px;
}
.blog-posts-container a {
  text-decoration: none;
  background-color: #f1f1f1;
  color: #353535;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  transition-duration: 300ms;
  margin: 20px;
}
.blog-posts-container a:hover {
  color: chocolate;
  transition-duration: 300ms;
}
.post-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 150px;
  background-color: #353535b8;
  border-radius: 20px;
  overflow: hidden;
  transition-duration: 600ms;
}
.post-container:hover {
  background-color: #353535;
  transition-duration: 1000ms;

}
.post-container img {
  width: 100%;
  margin-bottom: 20px;
}
.post-container h2 {
  margin-bottom: 20px;
  padding: 0 20px;
}
.post-container p {
  margin-bottom: 20px;
  padding: 0 20px;
}
.author {
  color: #aaa;
}
.top-button {
  position: fixed;
  bottom: 50px;
  right: 5rem;
  color: rgba(0, 0, 0, 0.279);
  background-color: rgba(170, 170, 170, 0.506);
  width: max-content;
  height: 70px;
  padding: 10px;
  border-radius: 8px;
  transition-duration: 700ms;
  border-style: none;
  margin: 0 auto;
}
.top-button:hover {
  background-color: rgba(170, 170, 170, 0.951);
  color: #353535;
  transition-duration: 700ms;
  border-style: solid;
}
