*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f1f1f1;

}
header{
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  margin-bottom: 150px;
}
header div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

header div span{
  display:block;
  text-align: center;
}
.logo-1{
  font-size: 50px;
  font-weight: bold;
  margin-left: -5px;
  letter-spacing: 15px;
 padding-left: 18px;
}
.logo-2{
  font-size: 50px;
  font-weight: bold;
  margin-left: -5px;
}
.logo-3{
  padding-left: 15px;
  letter-spacing: 20px;
}
.blog-posts-container{
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 20px;
  background-color: #353535;
  border-radius: 8px;
}
.blog-posts-container img {
  width: 100%;
  margin-bottom: 20px;
}
.blog-posts-container h2{
  margin-bottom: 20px;
}
.blog-posts-container .author {
  margin-bottom: 20px;
}
.blog-posts-container .summary {
  margin-bottom: 20px;
}
.blog-posts-container a {
text-decoration: none;
background-color: #f1f1f1;
color: #353535;
padding: 10px 20px;
border-radius: 2px;
display: inline-block;
}
.blog-posts-container a:hover {
  color:rebeccapurple
}
.post-container{
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 150px;
  background-color: #f1f1f1;
  border-radius: 20px;
  overflow: hidden;
}
.post-container img {
  width: 100%;
  margin-bottom: 20px;
}
.post-container h2{
  margin-bottom: 20px;
  padding: 0 20px;
}
.post-container p{
  margin-bottom: 20px;
  padding: 0 20px;
}
.author{
  color: #AAA;
}
