<header #scroll>
  <div>
    <span class="logo">The</span>
    <span class="logo-1">Curly</span>
    <span class="logo-2">Brackets</span>
    <span  class="logo-3">Blog</span>
  </div>
</header>
<main *ngIf="blogPosts$ | async as blogPosts">
  <app-nav-bar></app-nav-bar>
  <div class="blog-posts-container" *ngFor="let blogPost of blogPosts.items">
    <img [src]="blogPost.fields.featuredImage.fields.file.url" />
    <h2>{{ blogPost.fields.title }}</h2>
    <p class="author">{{ blogPost.fields.author }}</p>
    <p class="summary">{{ blogPost.fields.summary }}</p>
    <a [routerLink]="['blog', blogPost.sys.id]">Leia mais..</a>
  </div>
  <app-top-button></app-top-button>
</main>
